/*Custom Variables*/
:root {
    --primary-color: #007bff; /*Primary color for buttons and highlights*/
    --secondary-color: #6c757d; /*Secondary color for text and backgrounds*/
    --font-family: 'Indie Flower'; /*Default font family*/
    --font-size: 16px; /*Base font size*/
    --secondary-font-size: 2.5rem;
    --third-font-size: 1.3rem; /*Used for Indie Flower font*/
    --fourth-font-size: 1.5rem; /*Used for H1*/
    --line-height: 1.5; /*Line height for readability*/
}

/*Font Class*/
.indie-flow-regular {
    font-family: 'Indie Flower', cursive; /*Uses Indie Flower font for regular text*/
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.agu-display {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


* {
    box-sizing: border-box; /*Ensures padding and borders are included in element's total width and height*/
    margin: 0; /*Resets default margin*/
    padding: 0; /*Resets default padding*/
}

html {
    font-size: 16px; /*Sets base font size for the document*/
    line-height: 1.5; /*Sets base line height for the document*/
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family); /*Uses custom font family*/
    font-size: var(--font-size); /*Uses custom font size*/
    line-height: var(--line-height); /*Uses custom line height*/
    color: var(--secondary-color); /*Sets text color to secondary color*/
    background-color: #f8f9fa; /*Light background color for the body*/
}

#company-title {
    font-size: var(--secondary-font-size);
    font-weight: 600;
}

.nav-item {
    font-family: var(--font-family); /*Uses custom font family for list items*/
    font-size: 1.1rem;
}

.social-media-links {
    display: flex; /*Uses flexbox for layout*/
    justify-content: center; /*Centers the social media links horizontally*/
    gap: 1rem; /*Adds space between each link*/
}

.social-media-title {
    font-weight: 600;
    font-family: var(--font-family);
    font-size: var(--third-font-size);
}

main {
    padding: 4rem; /*Adds padding around the main content area*/
    background: black;
}

.main-img {
    width: 100%; /*Makes the image responsive to the width of its container*/
    height: auto; /*Maintains aspect ratio of the image*/
    border-radius: 0.5rem; /*Adds rounded corners to the image*/
    border: 2px solid var(--primary-color);
}

.main-subslogan {
    color: white;
}

.card-body {
    border: 2px solid var(--primary-color); /*Adds border to card body*/
    place-items: center;
    border-radius: 5px;
}

.card-title {
    font-size: var(--fourth-font-size);
    color: var(--primary-color);
}


.card-text {
    color: var(--primary-color);
    font-size: var(--third-font-size);
}
.grid-display {
    display: grid;
    grid-template-columns: minmax(1fr, auto, 1fr);
    grid-template-rows: minmax(2fr, 1fr, 2fr);
}

/*About Us Styles*/

section {
    padding: 4rem; /*Adds padding around the section*/
    background-color: #f8f9fa; /*Light background color for the section*/
}

.about-us-bg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
}

.about-us-img {
    width: 100%;
    height: auto;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 4px rgba(8, 8, 8, 0.1); /*Adds shadow to the image*/
}

.about-us-title {
    text-decoration: underline;
    color: var(--primary-color); /*Sets color to primary color*/
}

.about-us-slogan {
    font-size: var(--secondary-font-size);
}

.about-us-text {
    font-size: var(--fourth-font-size);
    text-decoration: underline;
    line-height: 2.7rem;
}

/*Media Queries*/
@media (max-width: 375px) {
    #company-title {
        font-size: 1.5rem; /*Reduces font size for smaller screens*/
    }
    .navbar-toggler-icon {
        height: 10px;
        width: 10px;
    }
    .about-us-img {
        width: 100%; /*Makes the image responsive to smaller screens*/
    }


}

@media (max-width: 390px) {
    #company-title {
        font-size: 1.5rem; /*Reduces font size for smaller screens*/
    }
    .navbar-toggler-icon {
        height: 10px;
        width: 10px;
    }
    .about-us-img {
        width: 100%; /*Makes the image responsive to smaller screens*/
    }


}

@media (max-width: 420px) {
    #company-title {
        font-size: 1.5rem; /*Reduces font size for smaller screens*/
    }
    .navbar-toggler-icon {
        height: 10px;
        width: 10px;
    }
    .about-us-img {
        width: 100%; /*Makes the image responsive to smaller screens*/
    }

}

@media (max-width: 500px) {
    #company-title {
        font-size: 1.5rem; /*Reduces font size for smaller screens*/
    }
    .navbar-toggler-icon {
        height: 10px;
        width: 10px;
    }

    .about-us-img {
        width: 100%; /*Makes the image responsive to smaller screens*/
    }

}

@media (max-width: 630px) {
    #company-title {
        font-size: 1.5rem; /*Reduces font size for smaller screens*/
    }
    .navbar-toggler-icon {
        height: 10px;
        width: 10px;
    }
    .about-us-img {
        width: 100%; /*Makes the image responsive to smaller screens*/
    }

}