/*Custom variables*/
:root {
  --primary: black;
  --secondary: white;
  --primary-text: black;
  --secondary-text: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  width: 100%;
  color: white;
}

body {
  color: white;
  background: url("./Assets/Distant\ planets.JPG") no-repeat center center/cover;
  background-image: cover;
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  padding: 20px;
  height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    width: 100%;
    height: auto;
    color: white;
}

.header-slogan {
  color: greenyellow;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  font-size: 3.5rem;
  margin-bottom: 35px;
}

.header-bg {
  padding: 10px;
}

.header-slogan-container {
  width: 100%;
  height: auto;
}

.header-slogan-img {
  width: 100%;
  box-shadow: 0 0 10px black;
}

.main-bg {
  margin-left: auto;
  margin-right: auto;
}

.header-btn {
  position: relative;
  right: 100px;
  box-shadow: 0 0 10px black;
}

#header-link {
  font-weight: 200;
  color: greenyellow;
  font-size: 1.2rem;
    
}

/**/

#brand-name {
  font-size: 2rem;
}

#brand-name, #nav-link {
  color: white;

}
#nav-link {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 3px;
}

.header-text {
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 0 0 10px black;
  font-size: 1.3rem;
}

/*Media Queries*/
@media (max-width: 375px) {
  header {
    flex-direction: column;
  }
  .header-slogan {
    font-size: 5rem;
  }
   #brand-name {
    font-size: 1rem;
  }
  .header-slogan {
    font-size: 4rem;
  }
  .main-bg {
    flex-direction: column;
  }
  .header-text {
    font-size: 1rem;
  }
  #header-link {
    font-size: 0.8rem;
  }
  .header-btn {
    position: relative;
    right: 50px;
    font-size: 0.8rem;
    bottom: 13px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  .footer-title, .footer-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 390px) {
   
}

@media (max-width: 500px) {
  #brand-name {
    font-size: 1rem;
  }
  .header-slogan {
    font-size: 2rem;
  }
  .main-bg {
    flex-direction: column;
  }
  .header-text {
    font-size: 1rem;
  }
  #header-link {
    font-size: 0.8rem;
  }
  .header-btn {
    position: relative;
    right: 50px;
    font-size: 0.8rem;
    bottom: 13px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  .footer-title, .footer-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 630px) {
     
}

@media (max-width: 2532px) and (max-height: 1170px) {
  header {
    flex-direction: column;
  }
  .header-slogan {
    font-size: 5rem;
  }
   #brand-name {
    font-size: 1rem;
  }
  .main-bg {
    flex-direction: column;
    height: auto;

  }
  .header-text {
    font-size: 1rem;
  }
  #header-link {
    font-size: 0.8rem;
  }
  .header-btn {
    position: relative;
    right: 50px;
    font-size: 0.8rem;
    bottom: 13px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-title, .footer-text {
    font-size: 0.7rem;
  }
  .header-slogan-img {
    width: 50%;
    height: 300px;
  }
  .header-img-container {
    
  }
}